@inherits LayoutComponentBase
@implements IDisposable
@inject ThemeState Theme

<div class="app-root @Theme.CssClass">
    @Body
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        Theme.Changed += OnThemeChanged;
        await Theme.EnsureLoadedAsync();
    }

    private void OnThemeChanged() => InvokeAsync(StateHasChanged);

    public void Dispose() => Theme.Changed -= OnThemeChanged;
}
